langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-text-splitters
chromadb
pypdf
openai
tiktoken
streamlit
python-dotenv
fastapi
uvicorn
python-multipart
sentence-transformers
langchain-google-genai
